REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
REDIS_DB=<db>
WHISPER_HOST=<whisper_host>
WHISPER_PORT=<whisper_port>
SUMMARIZATION_HOST=<ollama_host>
SUMMARIZATION_PORT=<ollama_port>
MODEL_NAME=<ollama_model_name>